---
layout: modules/module_<my_module_id>/main
slug: modules/module_<my_module_id>/index
response_headers: >
  {
    "X-Frame-Options": null,
    "Content-Security-Policy": "frame-ancestors https://*.siteglide.com"
  }
authorization_policies:
 - modules/siteglide_system/module_is_in_admin
---
<h1>Hello World!</h1>
<a href="modules/module_<my_module_id>/?{% include 'modules/siteglide_system/modules/auth' -%}">Link Example (Links back to this page)</a>
